<section id="profile"
         class="flex flex-col  items-center justify-center text-center min-h-[calc(100vh-112px)] md:flex-row gap-16 md:gap-32 md:text-left">
    <div class="w-80 overflow-hidden rounded-xl shadow-purple-back">
        {% load static %}
        <img src="{% static 'clement_marcel_profile.jpg' %}" alt="Clement MARCEL profile">
    </div>

    <div class="max-w-prose">
        <h1 class="text-5xl font-manrope font-bold"><span
                class="text-bequeath-purple-100">Développeur logiciel</span> Python, Typescript</h1>
        <p class="mt-4 text-lg font-light leading-relaxed">
            Développeur passionné par la création de solutions techniques efficaces et robustes. Je m'efforce de combiner une
            qualité de développement et un retour d'information rapide. Mon objectif est de contribuer à des projets innovants tout en respectant des normes
            rigoureuses et des délais optimisés.
        </p>
    </div>
</section>