<section id="profile"
         class="flex flex-col  items-center justify-center text-center min-h-[calc(100vh-112px)] md:flex-row gap-16 md:gap-32 md:text-left">
    <div class="flex items-start gap-16 md:gap-32">
        <div class="w-80 overflow-hidden rounded-xl shadow-purple-back">
            {% load static %}
            <img src="{% static 'clement_marcel_profile.jpg' %}" alt="Clement MARCEL profile">
        </div>

        <div class="max-w-prose">
            <h1 class="text-5xl font-manrope font-bold"><span
                    class="text-bequeath-purple-100">Développeur logiciel</span> Python, Typescript</h1>
            <p class="mt-4 text-lg font-light leading-relaxed">
                Développeur Fullstack avec plus de 5 ans d'expérience, spécialisé en <strong>Python</strong> (FastAPI, Django) et <strong>TypeScript</strong> (React). Passionné par la création de solutions innovantes, j'ai développé et déployé en production plusieurs applications from scratch.
            </p>
            <br>
            <p class="mt-4 text-lg font-light leading-relaxed">
                Mon expertise couvre l'ensemble du cycle de développement, de la conception à la mise en production,
                en passant par l'optimisation des performances et la sécurité avec pour objectif avant tout de recherche le feedback client.
            </p>
            <br>
            <p class="mt-4 text-lg font-light leading-relaxed">
                👉 Vous êtes à la recherche d'un développeur compétent pour votre prochain projet ?
                Contactez-moi pour discuter de la façon dont je peux contribuer à la réussite de vos initiatives technologiques.
            </p>
        </div>
    </div>
</section>