<section id="projects" class="max-w-7xl mx-auto px-4 py-16">
      <div class="relative overflow-hidden" style="height: 400px;">
        <div id="project-container" class="absolute inset-0 flex transition-transform duration-1000 ease-in-out">
            {% for project in projects %}
            <!-- Projet {{ forloop.counter }} -->
            <div class="flex-shrink-0 w-full flex items-center space-x-6" id="project{{ forloop.counter }}">
                <div class="w-1/2">
                    <h3 class="text-3xl font-bold mb-4">{{ project.title }}</h3>
                    <p class="text-lg text-gray-700">
                        {{ project.description }}
                    </p>
                </div>
                <div class="w-1/2 flex justify-center">
                    <a href="{{ project.link }}" class="block">
                        <img src="{{ project.image.url }}" alt="{{ project.title }}" class="rounded-lg shadow-lg hover:opacity-90 transition-opacity">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>