{% extends 'base.html' %}

{% block content %}
    <div class="container min-h-[calc(100vh-224px)] mx-auto px-4 sm:px-6 lg:px-8">
        {% for post in posts %}
            <div class="flex flex-col gap-10 md:flex-row md:gap-8">
                <div class="md:pl-8">
                    <h2 class="text-2xl font-bold">{{ post.title }}</h2>
                    <p class="text-lg font-light">{{ post.content|truncatechars:200 }}</p>
                </div>
            </div>
              {% if not forloop.last %}
                <hr class="border-t border-gray-300 mx-auto my-8 max-w-4xl self-center">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}